:root {
    --primary-color:black;
    --primary-text-color: white;
    --default-font: "Roboto", sans-serif;
    --secondary-font: font-family: 'Montserrat', sans-serif;
}
html {
  scroll-behavior: smooth;
}
body.home-page {
    font-family: var(--default-font);
    color: var(--primary-text-color);   
    background-image: url("/styles/main-image1.png");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
}

body.other-page {
font-family: var(--default-font);
    color: var(--primary-text-color);  
    background-color: var(--primary-color);   
}
body.about-me-page {
   font-family: var(--default-font);
    color: var(--primary-text-color);   
    background-image: url("/styles/main-image1.png");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;  
}
h1 {
  font-size: 58px;
  line-height: 80px;
  letter-spacing: 8px;
  font-weight: 700;
}

h2 {
  font-size: 18px;
  line-height: 10px;
  font-weight: 400;
}
h3 {
  font-size: 58px;
  line-height: 80px;
  letter-spacing: 8px;
  font-weight: 700;
  text-align: center;
}
h5 {
padding-top: 60px;
font-size: 58px;
line-height: 80px;
letter-spacing: 8px;
font-weight: 700;
}
h6 {
    font-size: 26px;
}
footer {
    text-align: center;
    position:absolute;
   bottom:10px;
   width:100%;
   height:30px; 
}
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.first-row {
    text-align: right;
}
.second-row {
    text-align: left;
}
.hero {
    margin-top: -60px;
    padding: 180px 20px;
}
   .hero.other {
    margin-top: -60px;
    padding: 180px 20px;   
}
  .hero.about {
    margin-top: -60px;
    padding: 180px 20px;   
}
 .custom-toggler.navbar-toggler {
            border-color: var(--primary-text-color);
            border: none;
 }
 .custom-toggler .navbar-toggler-icon {
            background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }
.hero p {
    height: 100%;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 0;
    margin-left: 5px;
}
.navigation-bar div a {
    color: var(--primary-text-color) !important;
}

.main-links {
display: inline-block;
margin: 20px 0px 5px;
width:180px;
text-align: center;
padding: 18px 30px;
background: transparent;
border: 1px solid var(--primary-text-color);
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
text-decoration: none;
letter-spacing: 0.1em;
text-transform: uppercase;
color:var(--primary-text-color);
transition: background-color 0.5s ease;
}
.main-links:hover {
    background-color: var(--primary-text-color);
    
    color: var(--primary-color);
    transition: background-color 0.5s ease;
}
.container {
margin: 0 auto;
padding: 0 10px;

}
.row.apps {
    filter: grayscale(100%);
    opacity: 70%;
    margin-bottom: 10px;
    transition: opacity 0.5s ease;
}
.row.apps:hover {
   filter: grayscale(0%);
 opacity: 100%;
    margin-bottom: 10px;
    transition: opacity 0.5s ease;
}
.logos {
    font-size: 26px;
}
.app-description {
    font-size: 16px;
   
}
.social-link {
    color: var(--primary-text-color);
    margin: 0 30px ;
     font-size: 20px;
}
.about-me {
    font-size: 14px;
    font-weight: 300;
}
.vscode-logo {
    width:46px;
}
.about-me-page {
    margin-left: 10px;
    margin-bottom: 40px;
}
.skills-logo {
    font-size: 40px;
    
}
@media only screen and (max-width:1024px) and (min-width:768px)  {
  
h1 {
  font-size: 60px;
  line-height: 60px; 
}
h2 {
  font-size: 20px; 
}
body.home-page {
  background-image: url("/styles/main-image-small.png");
background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
  body.other-page {
font-family: var(--default-font);
    color: var(--primary-text-color);  
    background-color: var(--primary-color);   
}
body.about-me-page {
font-family: var(--default-font);
color: var(--primary-text-color);  
background-color: var(--primary-color);   
}
.hero {  
padding: 760px 20px 100px; 
}
.hero.other {
padding: 180px 20px;
   
}
.main-links.contact {
display: none;
}
}
@media only screen and (max-width:767px) { 
h1 {
  font-size: 40px;
  line-height: 50px; 
}
h2 {
  font-size: 14px;
}
body.home-page {
background-image: url("/styles/main-image-small.png");
background-position: top center;
background-repeat: no-repeat;
background-size: cover;
}
body.other-page {
font-family: var(--default-font);
color: var(--primary-text-color);  
background-color: var(--primary-color);   
}
body.about-me-page {
font-family: var(--default-font);
color: var(--primary-text-color);  
background-color: var(--primary-color);   
}
.hero {  
       padding: 340px 20px 100px; 
  
   }
.hero.other {
    padding: 180px 20px;
   
}
   .main-links.contact {
       display: none;
   }
}