:root {
    --primary-color:black;
    --primary-text-color: white;
    --default-font: "Roboto", sans-serif;
    --secondary-font: font-family: 'Montserrat', sans-serif;
}

body {
    font-family: var(--default-font);
    color: var(--primary-text-color);
    
    background-image: url("/styles/main-image1.png");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
  font-size: 58px;
  line-height: 80px;
  letter-spacing: 8px;
  font-weight: 700;
}
h2 {
  font-size: 18px;
  line-height: 10px;
  font-weight: 400;
}
.hero {
    margin-top: -60px;

    padding: 180px 20px;
    
}
 .custom-toggler.navbar-toggler {
            border-color: var(--primary-text-color);
            border: none;
 }
 .custom-toggler .navbar-toggler-icon {
            background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
        }
.hero p {
    height: 100%;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 0;
    margin-left: 5px;
}
.navigation-bar div a {
    color: var(--primary-text-color) !important;
}

.main-links {
display: inline-block;
margin: 20px 0px 5px;
width:180px;
text-align: center;
padding: 18px 30px;
background: transparent;
border: 1px solid var(--primary-text-color);
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 17px;
text-decoration: none;
letter-spacing: 0.1em;
text-transform: uppercase;
color:var(--primary-text-color);
}
.container {
margin: 0 auto;

}
.row.apps {
    opacity: 60%;
    margin-bottom: 10px;
}
.row.apps:hover {
   
    opacity: 100%;
    margin-bottom: 10px;
}
footer {
    text-align: center;
    position:absolute;
   bottom:10px;
   width:100%;
   height:30px; 
}
.social-link {
    color: var(--primary-text-color);
    margin: 0 30px ;
     font-size: 20px;
}
@media only screen and (max-width:768px) {
    h1 {
  font-size: 40px;
  line-height: 50px;
 
}
h2 {
  font-size: 14px;
  

}
body {
  background-image: url("/styles/main-image-small.png");
background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
   .hero {  
       padding: 340px 20px 100px; 
  
   }
   .main-links.contact {
       display: none;
   }
}